.page{
	width :800px;
	margin : auto;
	font-size : 16px;
	font-family : 'Source sans Pro', Calibri ,Tahama, sans-serif:

}

.contact{
	float: top;
	text-align : justify;
}	
.photo{
	float: right;
	width :150px;
	margin : 30px;
	font-size : 30px;
}

.Exp{
	text-align : justify;

}
.competences{
	float: left;
	width :250px;
	margin : 5px;
	font-size : 15px;
	text-align : justify;
}
.formations{
	text-align : justify;
}


	

